@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.Customerinformation{
  label{
    font-weight: 600;
  }
}

.page{
    width: 100%;
    height: 100dvh;
}
.page-content{
    width: 100%;
    height: 100%;
    overflow: auto;
}
.bg-primary{
    background-color: #EAE1D4;
}
.bg-secondary{
    background-color: #B18343;
}
.bg-accent{
    background-color: #0A352D;
}
.bg-dark{
    background-color: #212529;
}

//text
.text-primary{
    color: #EAE1D4 ;
}


//button
button{
    padding: 8px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}


.btn-primary{
    background-color: #0d6efd;
    color: #ffffff !important;
}
.btn-secondary{
    background-color: #6c757d;
    color: #fff;
}
.btn-danger{
    background-color: #dc3545;
    color:#fff;
}
.btn-success{
    background-color: #198754;
    color: #fff;
}
.btn-warning{
    background-color: #ffc107;
    color: #fff;
}
.btn-info{
    background-color: #0dcaf0;
    color: #0a0a0a;
}


//font
.font-playfair{
    font-family: "Playfair Display", serif;
    font-size: 16px;
}
.font-raleway{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}



//flex
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
//Forms
.input-text-container{
    @apply flex flex-row p-4 rounded-md gap-2;
}
.input-field{
    @apply w-full outline-none
}
.field-container{
    color:#0a0a0a;
    display: flex;
    flex-direction: column;
    gap:3px;
    margin-bottom: 7px;
}
.text-field{
    width: 100%;
    border-radius: 10px;
    padding: 8px;
    border: 1px solid rgb(121, 121, 121);
    outline: unset !important;
}

//Table
.tableDisplay {
    margin-top: 10px;
    @apply w-full;
    thead {
        @apply text-left w-full;
        th {
            @apply p-2 bg-[#0A352D] text-white;
        }
        th:first-child {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        th:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
    tbody{
        td{
            padding: 10px;
        }
    }
}
